<form class="" action="http://localhost:3000/update/{{id}}?_method=PATCH" method="POST">
  <input type="text" name="nombre" value="{{nombre}}">
  <input type="radio" id="nombre" name="campo" value="nombre">nombre<br>
  <input type="text" name="especie" value="{{especie}}">
  <input type="radio" id="especie" name="campo" value="especie">especie<br>
  <input type="text" name="peso" value="{{peso}}">
  <input type="radio" id="peso" name="campo" value="peso">peso<br>
  <input type="text" name="tam" value="{{tam}}">
  <input type="radio" id="tam" name="campo" value="tam">tamaño<br>
  <input type="text" name="esCarnivoro" value="{{esCarnivoro}}">
  <input type="radio" id="esCarnivoro" name="campo" value="esCarnivoro">esCarnivoro<br>
  <input type="text" name="color" value="{{color}}">
  <input type="radio" id="color" name="campo" value="color">color<br>
  <input type="text" name="numPatas" value="{{numPatas}}">
  <input type="radio" id="numPatas" name="campo" value="numPatas">numero de patas<br>
  <input type="submit" name="sumbit" value="actualizar">
</form>
